---
layout: default
title: "About Us"
sub_title: "Leading Creative Technology Forward"
header_image: "/assets/images/art/scenographist-slider4.webp"
      
---
{% include layouts/nav/nav-1.html drop_search=true %} 
{% include layouts/header/page-title.html %}

<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <p>Scenographist was born from a near-future vision where spaces are no longer static, but adaptive, narrative-driven environments that respond to human emotion, culture, and technology. In this sci-fi inspired scenario, designers don’t just build places; they engineer experiences, worlds, and moments in time.</p>

        <p>Founded by Guillaume Lauzier, Scenographist emerged at the crossroads of multiple creative communities. Guillaume’s path moved fluidly between disciplines: working as an architect, an audiovisual technician, and a scenographer, while collaborating with artists, engineers, technologists, and producers across events, stages, installations, and immersive environments. Each role revealed the same recurring friction ideas were powerful, but translating them quickly and clearly into shared visual language was slow, fragmented, and limiting.</p>

        <p>Scenographist was created to solve that problem.</p>

        <p>Blending design, storytelling, and advanced digital tools, Scenographist acts like a creative interface for the future of spatial design. It enables creatives to prototype atmospheres, test narratives, and visualize entire worlds whether for stages, film sets, hotels, retail spaces, restaurants, weddings, festivals, or experimental environments yet to be named.</p>

        <p>More than a platform, Scenographist is a meeting point for communities shaping how we experience space. It is where architecture meets light, sound meets structure, and imagination meets execution.</p>

        <p>In a world moving toward immersive realities, Scenographist exists to help designers not just imagine the future but design it.</p>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="divider"><svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 20.98">
      <path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" /></svg></div>
</div>
<!-- /.wrapper -->

<div class="wrapper light-wrapper">
  <div class="container inner">
    <h2 class="section-title mb-40 text-center">Leadership</h2>
    <div class="row text-center">
      <div class="col-md-4">
        <figure class="img-blob blob1 mb-25"><img src="{{relative_url}}/assets/images/art/guillaume-lauzier.webp" style="width: 15rem" alt="" /></figure>
        <h4 class="mb-15">Guillaume Lauzier</h4>
        <div class="meta mb-5">Founder</div>
        <ul class="social social-s ms-auto">
          <li><a href="https://x.com/guilauzier"><i class="jam jam-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/guillaumelauzier"><i class="jam jam-linkedin"></i></a></li>
          <li><a href="https://www.facebook.com/guilauzier/"><i class="jam jam-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/guillaumelauzier/"><i class="jam jam-instagram"></i></a></li>
        </ul>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</div>

{% include layouts/footer/footer-7.html %}