---
layout: default
title: "About Us"
sub_title: "Leading Creative Technology Forward"
header_image: "/assets/images/art/scenographist-slider4.webp"
      
---
{% include layouts/nav/nav-1.html drop_search=true %} 
{% include layouts/header/page-title.html %}

<div class="wrapper light-wrapper">
  <div class="container inner">
    <h2 class="section-title mb-40 text-center">Team - Simple</h2>
    <div class="row text-center">
      <div class="col-md-4">
        <figure class="img-blob blob1 mb-25"><img src="{{relative_url}}/assets/images/art/guillaume-lauzier.webp" style="width: 15rem" alt="" /></figure>
        <h4 class="mb-15">Guillaume Lauzier</h4>
        <div class="meta mb-5">Founder</div>
        <ul class="social social-s ms-auto">
          <li><a href="https://x.com/guilauzier"><i class="jam jam-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/guillaumelauzier"><i class="jam jam-linkedin"></i></a></li>
          <li><a href="https://www.facebook.com/guilauzier/"><i class="jam jam-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/guillaumelauzier/"><i class="jam jam-instagram"></i></a></li>
        </ul>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</div>

{% include layouts/footer/footer-7.html %}