---
layout: default
title: "About Us"
sub_title: "Creating quality products that make your life easier"
header_image: "/assets/images/art/scenographist-slider4.webp"
      
---
{% include layouts/nav/nav-1.html drop_search=true %} 
{% include layouts/header/page-title.html %}
{% if page.services_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-md-7 mx-auto">
       {% if page.services_area.title %}
         <h2 class="title-color color-gray text-center">{{page.services_area.title}}</h2>
       {% endif %}
       {% if page.services_area.sub_title %}
         <h3 class="display-3 text-center">{{page.services_area.sub_title}}</h3>
       {% endif %}
       <div class="space40"></div>
      </div>
    </div>
    <div class="row gutter-50">
      {% for services in page.services_area.services %}
      <div class="space20 d-none d-md-block d-lg-none"></div>
      <div class="col-md-6 col-lg-4">
        <div class="d-flex flex-row justify-content-center">
          <div>
            <div class="icon icon-blob {{services.icon_style}} mr-25">
             <i class="{{services.icon}}"></i> 
            </div>
          </div>
          <div>
            <h5>{{services.title}}</h5>
            <p>{{services.description}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- /.wrapper -->
{% endif %}

{% if page.video_area.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    <div class="row align-items-center">
      <div class="col-lg-6 play-wrapper light-gallery-wrapper text-center">
        {% if page.video_area.image_url %}
        <div class="img-blob blob7">
          <img src="{{page.video_area.image_url }}" style="width: 30rem" alt="{{page.video_area.title}}"/>
        </div>
        {% endif %}
        {% if page.video_area.video_url %}
         <a href="{{page.video_area.video_url}}" class="btn-play lightbox"></a>
        {% endif %}
      </div>
      <div class="space30 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6 pl-60 pl-md-15">
        {% if page.video_area.title %}
         <h2 class="title-color color-gray">{{page.video_area.title}}</h2>
        {% endif %}
        {% if page.video_area.sub_title %}
         <h3 class="display-3">{{page.video_area.sub_title}}</h3>
        {% endif %}
        <div class="space20"></div>
        <p>{{page.video_area.description}}</p>
        <div class="space20"></div>
        <div class="row counter">
          {% for project in page.video_area.projects %}
          <div class="col-md-4">
            <h3 class="value">{{project.projects_number}}</h3>
            <p>{{project.title}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.wrapper -->
{% endif %}

{% if page.how_it_works.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row align-items-center">
      {% if page.how_it_works.image %}
      <div class="col-lg-6 order-lg-2">
        <figure><img src="{{page.how_it_works.image}}" alt="{{page.how_it_works.title}}"/></figure>
      </div>
      {% endif %}
      <div class="space20 d-md-none"></div>
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6 pr-60 pr-md-15">
        <h2 class="title-color color-gray">{{page.how_it_works.title}}</h2>
        <h3 class="display-3">{{page.how_it_works.sub_title}}</h3>
        {% for step in page.how_it_works.steps %}
        <div class="space30"></div>
        <div class="d-flex flex-row justify-content-center">
          <div>
            <span class="icon icon-blob {{step.icon_style}} mr-25">
              <i class="{{step.icon}}"></i><span class="step bg-blue">{{forloop.index}}</span>
            </span>
          </div>
          <div>
            <h5>{{step.title}}</h5>
            <p class="mb-0">{{step.description}}</p>
          </div>
         </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- /.wrapper -->
{% endif %}
{% if page.testimonials.enable %}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="{{page.testimonials.bg_image}}">
  <div class="container inner pt-100">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        {% if page.testimonials.title %}
         <h2 class="title-color color-white text-center mb-30">{{page.testimonials.title}}</h2>
        {% endif %}
        <div class="basic-slider owl-carousel gap-small text-center mb-0" data-margin="30">
          {% for feedback in page.testimonials.feedback %}
          <div class="item">
            <blockquote class="icon larger">
              <p>"{{feedback.quote}}"</p>
              <div class="blockquote-details justify-content-center">
                <div class="img-blob blob1">
                  <img src="{{feedback.image}}" alt="{{feedback.name}}" />
                </div>
                <div class="info">
                  <h6 class="mb-0">{{feedback.name}}</h6>
                  <span class="meta mb-0">{{feedback.designation}}</span>
                </div>
              </div>
            </blockquote>
          </div>
          {% endfor %}
        </div>
        <!-- /.owl-carousel -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    {% assign pricing_data = page.pricing_table %}
    {% if pricing_data.enable %}
    <div class="row">
      <div class="col-lg-5 pr-50 pr-md-15">
        <h2 class="title-color color-gray">{{pricing_data.title}}</h2>
        <h3 class="display-3">{{pricing_data.sub_title}}</h3>
        <div class="space20"></div>
        <p>{{pricing_data.description}}</p>
        <div class="space10"></div>
        {% if pricing_data.pricing_url %}
         <a href="{{pricing_data.pricing_url}}" class="btn">{{pricing_data.pricing_text}}</a>
        {% endif %}
      </div>
      <!--/column -->
      <div class="space70 d-none d-md-block d-lg-none"></div>
      <div class="space20 d-md-none"></div>
      <div class="col-lg-7">
        <div class="pricing-wrapper">
          <div class="row g-0">
            {% for pricing in pricing_data.plans %}
            <div class="col-md-6 {{pricing.popular}} ">
              <div class="pricing panel box bg-white shadow">
                <div class="panel-heading">
                  <div class="prices color-dark">
                    <div class="price price-show"><span class="price-currency">$</span><span class="price-value">{{pricing.monthly_price}}</span> <span class="price-duration">month</span></div>
                  </div>
                  <h4 class="panel-title mb-0">{{pricing.title}}</h4>
                </div>
                <!--/.panel-heading -->
                <div class="panel-body">
                  <table class="table">
                    {% for features in pricing.features %}
                      <tr>
                         <td>{{features}}</td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
                <!--/.panel-body -->
                <div class="panel-footer">
                  <a href="{{pricing.pricing_url}}" class="btn" role="button">{{pricing.button_text}}</a>
                </div>
              </div>
              <!--/.pricing -->
            </div>
            <!--/column -->
           {% endfor %}
          </div>
          <!--/.row -->
        </div>
        <!--/.pricing-wrapper -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
   {% endif %}
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% if page.contact_area.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    <div class="row align-items-center">
      {% if page.contact_area.image %}
      <div class="col-lg-6">
        <figure><img src="{{page.contact_area.image}}" alt="{{page.contact_area.title}}"/></figure>
      </div>
      {% endif %}
      <!--/column -->
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="space10 d-md-none"></div>
      <div class="col-lg-6 pl-60 pl-md-15">
        {% if page.contact_area.title %}
         <h2 class="title-color color-gray">{{page.contact_area.title}}</h2>
        {% endif %}
        {% if page.contact_area.sub_title %}
         <h3 class="display-3">{{ page.contact_area.sub_title }}</h3>
        {% endif %}
        <div class="space20"></div>
        {% if  page.contact_area.description %}
         <p>{{page.contact_area.description}}</p>
        <div class="space10"></div>
        {% endif %}
        {% if page.contact_area.btn_one_text %}
         <a href="{{page.contact_area.btn_one_url}}" class="btn">{{page.contact_area.btn_one_text}}</a>
        {% endif %}
        {% if page.contact_area.btn_two_text %}
         <a href="{{page.contact_area.btn_two_url}}" class="btn btn-sky">{{page.contact_area.btn_two_text}}</a>
        {% endif %}
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</div>
{% endif %}
{% include layouts/footer/footer-7.html %}